@import "~reset-css/reset.css";
@import "~semantic-ui-css/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
	background-color: #d2dae0;
}

.Foundations-Div {
	padding-top: 20%;
	// background-color: rgb(61, 65, 71);
}

.MADD-Image {
	width: 600px;
}

.Foundation-Images {
	background-color: #FFF;
}

.main-column {
    box-shadow: 10px 10px 5px #888888;
}

.SafeHorizon-Image
.ASCPA-Image
.Natural-High-Image {
	padding-top: 30px;

}
