// CSS Reset
@import "~reset-css/reset.css";
@import "~semantic-ui-css/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
}


header {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	// height: 40px;
	// z-index: 1000;
	// background: #FFF;
	// line-height: 40px;
	// opacity: 0.2;
}

h2 {
	line-height: calc(100vh - 40px);
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-weight: 100;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 15vmin;
}

h4 {
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-weight: 20;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 8vmin;
}
