// CSS Reset
@import "~reset-css/reset.css";
@import "~semantic-ui-css/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
	background-color: #649173;
	// background-color: #606c88;
	// background-color: #A8CABA;

}

.team-submit-form {
	padding-top: 20px;
	width: 100%;
}

.submit-button {
	display: block;
	margin: auto;
}

.submit-button-div {
	width: 200px;
	display: block;
	margin: auto;
}

.Team-1-Dropdown
.Team-2-Dropdown {
	// margin: 10px;
}
