

.Nav {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	background: rgb(232,239,213);
	border-bottom: 1px solid #000;
	z-index: 4;
	// position: absolute;
	width: 100%;

	&-link {
		padding: 0 40px;
		padding-right: 20px;
		text-decoration: none;

		&.is-active,
		&:hover {
			color: rgb(20,41,83);
			;
		}

		&.is-active {
			text-decoration: none;
		}
	}
}

.Nav-Link-Home {
padding: 0 4px;
color: rgb(222, 214, 156);
text-decoration: none;

	&.is-active,
	&:hover {
		color: #0000ee;
		;
	}

&.is-active {
	text-decoration: underline;
	}
}
