@font-face {
  font-family: 'PROMESH Two';
  src: url('/fonts/PROMESH-TwoFast;.ttf'),/* IE9 Compat Modes */
       url('/fonts/PROMESH-TwoFast.ttf')  format('truetype')
}

.Menu {
	background-color: #527B99;
}

.Nav {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #527B99;
	border-bottom: 1px solid #000;
	height: 200px;
	z-index: 4;
	// position: absolute;
	width: 100%;

	&-link {
		font-size: 30px;
		font-family: 'PROMESH-TwoFast', Fallback, sans-serif;
		padding: 0 40px;
		padding-right: 20px;
		text-decoration: none;

		&.is-active,
		&:hover {
			color: rgb(20,41,83);
			;
		}

		&.is-active {
			text-decoration: none;
		}
	}
}

.Nav-Link-Home {
font-size: 25px;
font-family: 'PROMESH-TwoFast', Fallback, sans-serif;
padding: 0 4px;
color: rgb(222, 214, 156);
text-decoration: none;

	&.is-active,
	&:hover {
		color: #0000ee;
		;
	}

&.is-active {
	text-decoration: underline;
	}
}
