// CSS Reset
@import "~reset-css/reset.css";
@import "~semantic-ui-css/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
}

.ActiveTeam1Header {
	display: block;
	text-align: center;
}
.ActiveTeam2Header {
	display: block;
	text-align: center;
}

.ActiveTeam1Image {
	display: block;
	width: 300px;
	height: 300px;
	margin: auto;
}

.ActiveTeam2Image {
	display: block;
	width: 300px;
	height: 300px;
	margin: auto;
}
